{# src/Kita/BlogBundle/Resources/views/Kita/ajouter.html.twig #}

{% extends "KitaBlogBundle::layout.html.twig" %}

{% block title %}
    Ajouter un article - {{ parent() }}
{% endblock %}

{% block kitablog_body %}

    <h2>Ajouter un article</h2>
    
    {% include "KitaBlogBundle:Kita:formulaire.html.twig" %}
    
    <p>
        Attention: cet article sera ajouté directement sur la page d'accueil après validation du formulaire.
    </p>
    <p>
        <a href="{{ path('kitablog_ajouter', {'id': article.id}) }}" class="btn">
            <i class="icon-chevron-left"></i>
            Retour à l'accueil.
        </a>
    </p>
    
{% endblock %}