{# src/Sdz/BlogBundle/Resources/views/Kita/voir.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec le Site du Zéro !</title>
  </head>
  <body>
    <h1>Suppression d'un article</h1>

    <p>
      Ici nous pourrons supprimer l'article ayant comme id : {{ id }}<br />
    </p>
  </body>
</html>
